{% extends 'base.html' %}

{% block head %}
<style>
    .menu {
        height:40px;
        padding-top:5px
    }
    
</style>
{% endblock %}

{% block content %}
    <div id="topbar">
        <ul class="breadcrumbs">
            {% for crumb in breadcrumbs %}
                <li class="crumb"><a href="{{ crumb.target }}">{{ crumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>    
    <div id="content">
        <a id="search" class="rounded menu" href="{% url search %}">
            Search<span class="right">{{ num_songs }}</span>
        </a>
        <br />
        <a id="artists" class="rounded menu" href="{% url artists %}">
            Artists<span class="right">{{ num_artists }}</span>
        </a>
        <a id="albums" class="rounded menu" href="{% url albums %}">
            Albums<span class="right">{{ num_albums }}</span>
        </a>
        <a id="songs" class="rounded menu" href="{% url songs %}">
            Songs<span class="right">{{ num_songs }}</span>
        </a>
    </div>
{% endblock %}
