{% extends "base.html" %}

{% block head %}
        <script src="/m/js/controls.js"></script>
{% endblock %}

{% block topbar %}
<div id="topbar">
    <a id="topright" class="rounded menu" href="{% url 'browse' %}">Add Track</a>
</div>    
{% endblock %}

{% block content %}
<div id="content">
    <div id="connection">Not Connected</div>
	<div class="rounded box" style="height:180px;" id="status"></div>

	
    <div class="rounded toggle">Random<input type="checkbox" id="random"></div>
    <div class="rounded toggle">Repeat<input type="checkbox" id="repeat"></div>
	
    <div class="rounded slider">Volume:<input id="volume" type="range" min="0" max="100" ></input></div>
    
    <a class="rounded menu" href="{% url 'playlist' %}">Playlist<span id="playlist" style="float:right"></span></a>
</div>
<div id="bottombar">
		<span id="prev" class="button"><span style="display:inline-block;"><img src="/m/img/previous.png" /></span></span>
		<span class="button"><span style="display:inline-block;"><img id="play" src="/m/img/play.png" /><img id="pause" src="/m/img/pause.png" /></span></span>
		<span id="next" class="button"><span style="display:inline-block;"><img src="/m/img/next.png" /></span></span>
</div>
{% endblock %}
