{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/m/css/songs.css" type="text/css" />
<script src="/m/js/playlists.js"></script>
{% endblock %}

{% block topbar %}
<div id="topbar">
        {% include 'breadcrumbs.tmpl' %}
        
    <div id="name" style="color:white; font-size:20px;"></div>
    <a id="topright" class="rounded menu" href="{% url playlists %}">Playlists</a>
</div>
{% endblock %}
{% block content %}
<div id="content">
    <div id="search">
        <input id="filter" type="text" class="rounded"></input>
    </div>
    <table id="songs">
    {% include 'songs.tmpl' %}
    </table>
</div>

<div id="bottombar">
        <span id="clear" class="button">Clear</span>
		<span id="save" class="button">Save</span>
</div>
{% endblock %}
