{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/m/css/songs.css" type="text/css" />
<script src="/m/js/playlists.js"></script>
{% endblock %}

{% block topbar %}
<div id="topbar">
        {% include 'breadcrumbs.tmpl' %}
        
    <div id="name" style="color:white; font-size:20px;"></div>
    <a id="topright" class="rounded menu" href="{% url 'browse' %}">Add</a>
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div id="search">
        <input id="filter" type="text" class="rounded"></input>
    </div>
    <table id="songs">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>Title</th>
                <th style="width:50px;">Time</th>
                <th style="width:35px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr id="{{ song.file }}">
                <td id="{{ song.id }}">{{ forloop.counter }}</td>
                <td>{% firstof song.title song.filename song.file %}</td>
                <td>{{ song.time }}</td>
                <td class="delete"><img src="/m/img/delete.png" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="bottombar">
        <span id="clear" class="button">Clear</span>
        <a href="{% url 'playlists' %}">Playlists</a>
		<span id="save" class="button">Save</span>
</div>
{% endblock %}
