#topbar > * {
	margin-top:2px;	
	height:18px;
	font-size: 15px;
	display:inline-block;
	min-height: 0px;	
}

#topbar .crumb, #topbar > .menu {
	background: #4A42B7;
	color:white;
}

#topbar .crumb {
	font-size: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
	overflow:hidden;	
}

#topbar .breadcrumbs {
	text-indent: 0px;
	margin-left: 5px;
}

#topbar > .menu {
	padding: 3px 8px;
    display: inline-block;
}

#topbar a {
    color:white;
	text-decoration:none;
}
