#breadcrumbs {
	margin-top:3px;
    float:left;
    
}
#breadcrumbs > .crumb {
	display:table-cell;
	padding: 3px 8px;
	
	color:white;
	text-decoration:none;
    border: solid 1px #555555;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ADB5BF),color-stop(3%,#909CAD),color-stop(50%,#687B93),color-stop(51%,#61759F),color-stop(97%,#4D6492),to(#0D1622));
}

#breadcrumbs > .crumb:first-child {
	
	border-left-style:solid;
		
	-moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    
	-moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#breadcrumbs > .crumb:last-child {
	
	-moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -khtml-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    
	-moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
